@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  all: initial;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: #111827;
  color: #E5E7EB;
  border: 1px solid #374151; 
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  z-index: 1000;
}

[data-tooltip]::after {
  content: '';
  position: absolute;
  
  top: 105%;
  margin-top: -5px;
  left: 50%;
  transform: translateX(-50%);
  
  border: 5px solid transparent;
  border-bottom-color: #111827;
  
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  z-index: 1000;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}